<ion-header>
  <ion-navbar>
    <ion-title>
      Agregar Huertero
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    
    <ion-card-content>

        <form [formGroup]="FormVoluntarios" (ngSubmit)="guardarVoluntario()" novalidate>

           
            <ion-item>
                <ion-icon name="flower" item-left></ion-icon>
                  
                <ion-label stacked>Seleccione Huerta</ion-label>
                <ion-select formControlName="huerta" required>
                  <ion-option  *ngFor="let huerta of huertas" [value]="huerta.CodigoHuerta">
                    {{huerta.NombreHuerta}}
                  </ion-option>
                  
                </ion-select>
              </ion-item>
      
          
          
          
          
          <ion-item>
                <ion-icon name="person" item-left></ion-icon>  
                 <ion-label stacked>Nombres:</ion-label>
                <ion-input formControlName="Nombres" ></ion-input>
                </ion-item>

                <ion-item *ngIf="FormVoluntarios.get('Nombres').errors && FormVoluntarios.get('Nombres').dirty">

                    <p *ngIf="FormVoluntarios.get('Nombres').hasError('required')">Es Requerido</p>
                  </ion-item>


                  <ion-item>
                      <ion-icon name="person" item-left></ion-icon>  
                      <ion-label stacked>Apellidos:</ion-label>
                      <ion-input formControlName="Apellidos"></ion-input>
                    </ion-item>


                    <ion-item *ngIf="FormVoluntarios.get('Apellidos').errors && FormVoluntarios.get('Apellidos').dirty">

                        <p *ngIf="FormVoluntarios.get('Apellidos').hasError('required')">Es Requerido</p>
                      </ion-item>



                      <ion-item>
                          <ion-icon name="woman" item-left></ion-icon>    
                        <ion-icon name="man" item-left></ion-icon> 
                         
                          <ion-label stacked>Genero</ion-label>
                          <ion-select formControlName="Genero" required>
                            <ion-option value="F">Femenino</ion-option>
                            <ion-option value="M">Masculino</ion-option>
                          </ion-select>
                        </ion-item>

                       
                        <ion-item>

                          <ion-icon name="people" item-left></ion-icon>
                          <ion-label stacked>Rol</ion-label>
                          <ion-select  formControlName="Rol" required>
                            <ion-option value="Responsable">Responsable</ion-option>
                            <ion-option value="Colaborador">Colaborador</ion-option>
                          </ion-select>
                        </ion-item>





                        <ion-item>
                            <ion-icon name="at" item-left></ion-icon>  
                            <ion-label stacked>Correo:</ion-label>
                            <ion-input formControlName="Correo"></ion-input>
                          </ion-item>


                          
                <ion-item *ngIf="FormVoluntarios.get('Correo').errors && FormVoluntarios.get('Correo').dirty">

                    <p *ngIf="FormVoluntarios.get('Correo').hasError('required')">Es Requerido</p>
                  </ion-item>

                  <ion-item>
                      <ion-icon name="call" item-left></ion-icon>  
                      <ion-label stacked>Telefono:</ion-label>
                      <ion-input formControlName="Telefono"></ion-input>
                    </ion-item>


                    <ion-item *ngIf="FormVoluntarios.get('Telefono').errors && FormVoluntarios.get('Telefono').dirty">

                        <p *ngIf="FormVoluntarios.get('Telefono').hasError('required')">Es Requerido</p>
                      </ion-item>

                      <button ion-button block type="submit" [disabled]="FormVoluntarios.invalid">Guardar</button>




                        

    
                   
                 

    
  
               




          </form>
    





    </ion-card-content>



</ion-content>








