<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card-content>
    
  <ion-card>

    <img src="assets/imgs/RHM.jpg">
  </ion-card>
 
  <form [formGroup]="FormLogin" (ngSubmit)="validarUser()" novalidate>
  
      <ion-card>
      <ion-list>

          <ion-item>
              <ion-icon name="person" item-left></ion-icon>  
               <ion-label stacked>Username:</ion-label>
              <ion-input type="text" formControlName="usuario" required ></ion-input>
            </ion-item>


            <ion-item>
                <ion-icon name="key" item-left></ion-icon>  
                 <ion-label stacked>Password:</ion-label>
                <ion-input type="password" formControlName="password" required ></ion-input>
             </ion-item>

             <button ion-button block type="submit" [disabled]="FormLogin.invalid">Ingresar</button>






      </ion-list>


      </ion-card>

    
      
  </form>
      
      

    </ion-card-content>

</ion-content>
