<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Agregar Huertero" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Lista Huertas" tabIcon="ios-clipboard"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Menu" tabIcon="menu" (ionSelect)=" myMethod()"></ion-tab>

</ion-tabs>
