<!--
  Generated template for the RecientesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrevistas Recientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
      
        <button ion-item *ngFor="let entrevista of entrevistas" (click)="openNavDetailsPage(entrevista)" icon-start>
            <ion-icon name="list" item-left></ion-icon>
          {{entrevista.idEntrevista}}-{{entrevista.FechaEntrevista}}-{{entrevista.Huerta.NombreHuerta}}
        </button>
       </ion-list>
    

</ion-content>
