<!--
  Generated template for the NuevaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nueva Entrevista</ion-title>
  </ion-navbar>

</ion-header>




<ion-content padding>


  <form [formGroup]="FormEntrevista" (ngSubmit)="guardarEntrevista()" novalidate>


      <ion-item>
          <ion-icon name="flower" item-left></ion-icon>
            
          <ion-label stacked>Huerta A Entrevistar</ion-label>
          <ion-select #c (ionChange)="onChange(c.value)" required formControlName="huerta">
            <ion-option *ngFor="let huerta of huertas" [value]="huerta.CodigoHuerta">
              {{huerta.NombreHuerta}}
            </ion-option>
            
          </ion-select>
        </ion-item>



        <ion-item>
            <ion-icon name="calendar" item-left></ion-icon>
         <ion-label stacked>Fecha Actualización:</ion-label>
         <ion-datetime displayFormat="YYYY-MM-DD" formControlName="fecha"></ion-datetime>
        </ion-item>

       

          <ion-item>
            <ion-icon name="person" item-left></ion-icon>                  
            <ion-label stacked>Investigador</ion-label>
            <ion-select  required formControlName="investigador">
              
              <ion-option *ngFor="let investigador of investigadores" [value]="investigador.idInvestigador">
                {{investigador.Nombres}}&nbsp;{{investigador.Apellidos}}
              </ion-option>
             

            </ion-select> 
          </ion-item>


          <ion-item>

              <ion-icon name="person" item-left></ion-icon>
              <ion-label stacked>Seleccione Entrevistados</ion-label>
    
              <ion-select #cd multiple="true"  (ionChange)="oncambio(cd.value)" formControlName="Entrevistados" required >
                <ion-option *ngFor="let vector of j" [value]="vector.CodigoMiembro">
                  {{vector.nombres}}&nbsp;{{vector.apellidos}}                   
                 </ion-option>               
               
              </ion-select>
    
            </ion-item>

            <ion-item>
                <ion-icon name="refresh" item-left></ion-icon>  
                 <ion-label stacked>Versionr:</ion-label>
                <ion-input formControlName="Version" [value]="versionNumber"></ion-input>
             </ion-item>

             <ion-item>
                <ion-icon name="information" item-left></ion-icon>            
                <ion-label stacked>Observaciones:</ion-label>
                <ion-textarea formControlName="Observaciones">
    
                </ion-textarea>
    
            </ion-item>

          
            <button ion-button block type="submit" [disabled]="FormEntrevista.invalid">Guardar</button>
      




    

  



  </form>





</ion-content>
