<!--
  Generated template for the ListadoentrevistadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>listado de Entrevistados</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

  <ion-list>
    <button ion-item *ngFor="let user of vector">
      {{user}}
    </button>
  </ion-list>

</ion-content>
