<ion-header>
  <ion-navbar>
    <ion-title>
      Lista de Huertas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 

   <ion-list>
 
    <button ion-item *ngFor="let huerta of huertas" (click)="openNavDetails(huerta)" icon-start>
      {{huerta.NombreHuerta}}
    </button>
   </ion-list>

</ion-content>
