<ion-header>
  <ion-navbar>
    <ion-title>Nueva Huerta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  
    <form [formGroup]="FormHuerta" (submit)="guardarHuerta()" novalidate>

                         
                 
        <ion-item>
            <ion-icon name="flower" item-left></ion-icon>  
             <ion-label stacked>Nombre de la Huerta:</ion-label>
            <ion-input formControlName="huerta" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-icon name="map" item-left></ion-icon>  
                 <ion-label stacked>Ubicacion:</ion-label>
                <ion-input formControlName="ubicacion" [value]="valuePosition"></ion-input>              
                </ion-item>
                
                <ion-item>
                 <ion-card>
                        <div id="map"></div>
                 </ion-card>


                </ion-item>



                <ion-item>
                    <button ion-button full (click)="getPositionGeo(0)">Cargar Ubicacion</button>
                   </ion-item>
                              
 

                         <ion-item>
                            <ion-icon name="map" item-left></ion-icon>  
                             <ion-label stacked>Area (m2):</ion-label>
                            <ion-input formControlName="Area" ></ion-input>              
                         </ion-item>

        
        
        
        
        <button ion-button block type="submit" [disabled]="FormHuerta.invalid">Guardar</button>
                        





      


                  


    </form>

   


</ion-content>
