<!--
  Generated template for the ListapreguntasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Preguntas  {{informacion.titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
      <button ion-button block (click)="ionViewDidLoad()">Refrescar</button>
    </ion-list>

  <ion-list>
    
    <button ion-item *ngFor="let question of preguntas" (click)="openNavDetailsPage(question)" [color]="question.ConRespuesta">
        <ion-icon name="help" item-left></ion-icon>
        {{question.TituloPregunta}}
    </button>

  </ion-list>

</ion-content>
