<!--
  Generated template for the InfopreguntaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pregunta en Detalle</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

    <ion-card>
    <ion-card-content>
      {{pregunta.TituloPregunta}}
    </ion-card-content>
    </ion-card>


    <ion-card *ngIf="!respuesta">

        <ion-list *ngIf="esAbierta">
  
            <form [formGroup]="FormRespuestaAbierta" (ngSubmit)="guardarRespuestaAbierta()" novalidate>
      
              <ion-item>
                  <ion-icon name="information" item-left></ion-icon>            
                  <ion-label stacked>Ingrese Su Respuesta:</ion-label>
                  <ion-textarea formControlName="detalleRespuesta">
          
                  </ion-textarea>
          
              </ion-item>
          
            
              <button ion-button block type="submit" [disabled]="FormRespuestaAbierta.invalid">Guardar</button>
            
      
            </form>
            </ion-list>


            <ion-list  *ngIf="!esAbierta">

                <div  *ngIf="esUnica">


                    <form [formGroup]="FormRespuestaCerradaUnica" (ngSubmit)="guardarRespuestaCerradaUnica()" novalidate>
                      <ion-list radio-group formControlName="opcionAnswer">
                          <ion-item *ngFor="let respuesta of opcionesDefault">
          
                              <ion-label>{{respuesta.DescripcionRespuesta}}</ion-label>
                             <ion-radio [value]="respuesta.idOpcionRespuesta" (click)="checkOtro(respuesta)"></ion-radio>
                          </ion-item>
                          <div *ngIf="EsOtro">
                          <ion-label stacked>Ingrese Otras:</ion-label>
                          <ion-textarea formControlName="Otro"></ion-textarea>
                          </div>
                          <button ion-button block type="submit" [disabled]="FormRespuestaCerradaUnica.invalid">Guardar</button>
                      </ion-list>
                                  
                     
                     
                    </form>
          
          
                   </div>


                   <div *ngIf="!esUnica">

                      <form [formGroup]="FormAuxiliar" (ngSubmit)="guardarCerraMultiple()" novalidate>

                          <ion-item>
                          
                            <ion-label stacked>Seleccione Respuestas</ion-label>
                            <ion-select #cd multiple="true" (ionChange)="oncambio(cd.value)" formControlName="arbeite" required>
                              <ion-option *ngFor="let respuesta of opcionesDefault" [value]="respuesta.idOpcionRespuesta">
                                {{respuesta.DescripcionRespuesta}}                   
                               </ion-option> 
                            </ion-select>
                      
              
                          </ion-item>
              
                          <div *ngIf="EsOtro">
                            <ion-label stacked>Ingrese Otras:</ion-label>
                            <ion-textarea formControlName="Otro"></ion-textarea>
                          </div>
                           
              
                          <button ion-button block type="submit" [disabled]="FormAuxiliar.invalid">Guardar</button>
                        
              
                        </form>

                      



                   </div>


                    







            </ion-list>
</ion-card>



<ion-card *ngIf="respuesta">


    <ion-list *ngIf="esAbierta">

        <form [formGroup]="FormEdicionAbierta" (ngSubmit)="ActualizarRespuestaAbierta()" novalidate>

            <ion-item *ngFor="let respuesta of listaOpciones">
              <ion-icon name="information" item-left></ion-icon>            
              <ion-label stacked>Respuesta Registrada:</ion-label>
              <ion-textarea formControlName="conteRespuesta" [value]="this.listaOpciones[0].DescripcionOpcionRespuesta">
             
              </ion-textarea>
          
          </ion-item>
          <button ion-button block type="submit">Actualizar</button>
          
          </form>


    </ion-list>


    <ion-list *ngIf="!esAbierta">

        <div  *ngIf="esUnica">


            <form [formGroup]="FormEdicionCerradaUnica" (ngSubmit)="ActualizarRespuestaCerradaUnica()">
              
                <ion-list radio-group formControlName="opcionRespuesta">
                    <ion-item *ngFor="let feet of vectorSelector">
  
                        <ion-label>{{feet[0].DescripcionRes}}</ion-label>
                        <ion-radio [value]="feet[0].idOpcionRespuesta" [checked]="feet[0].isSelected" (click)="checkOtro(feet[0])"></ion-radio>
                      
                    </ion-item>
                </ion-list>

                <div *ngIf="EsOtro">
                    <ion-label stacked>Otro(s):</ion-label>
                    <ion-textarea formControlName="campoOtro" [value]="otroConte"></ion-textarea>                      
                  </div> 
                  
                  <button ion-button block type="submit">Actualizar</button>
                   
            </form>

        </div>


        <div *ngIf="!esUnica">
         
            <form [formGroup]="FormEdicionCerradaMultiple" (ngSubmit)="ActualizarRespuestaCerradaMultiple()" >
              
                <ion-item>
            
                    <ion-label stacked>Respuesta Registrada</ion-label>
                    <ion-select #cd multiple="true" (ionChange)="oncambio(cd.value)"  formControlName="arbeite" required>
                      <ion-option *ngFor="let respuesta of vectorSelector" [value]="respuesta[0].idOpcionRespuesta" [selected]="respuesta[0].isSelected">
                        {{respuesta[0].DescripcionRes}}                   
                       </ion-option> 
                    </ion-select>
                  
                  </ion-item>

                  <div *ngIf="EsOtro">
                      <ion-label stacked>Ingrese Otras:</ion-label>
                      <ion-textarea formControlName="Otro" [value]="otroConte"></ion-textarea>
                    </div>
                    <button ion-button block type="submit">Actualizar</button>
              
            
            </form>
        
        </div>
      




    </ion-list>

      
   



</ion-card>





   </ion-content>



 







