<!--
  Generated template for the DetallehuertaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detallehuerta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

   
    <ion-item>
        <ion-icon name="flower" item-left></ion-icon>  
         <ion-label stacked>Nombre de la Huerta:</ion-label>
         <ion-input type="text" [value]="huerta.NombreHuerta" ></ion-input>
        </ion-item>

        <ion-item>
            <ion-icon name="map" item-left></ion-icon>  
             <ion-label stacked>Ubicacion:</ion-label>
            <ion-input type="text" [value]="huerta.UbicacionHuerta"></ion-input>              
         </ion-item>

         <ion-item>
            <ion-icon name="map" item-left></ion-icon>  
             <ion-label stacked>Area (m2):</ion-label>
            <ion-input  type="text" [value]="huerta.AreaHuerta"></ion-input>              
         </ion-item>

        
            

            <button ion-item icon-start (click)="ListarHuerteros(huerta.CodigoHuerta)">
              <ion-icon name="people" item-left></ion-icon>
              Lista de Huerteros
           </button>









  </ion-list>

</ion-content>
