<ion-tabs>
    <ion-tab [root]="recientesRoot" tabTitle="Recientes" tabIcon="list"></ion-tab>
    <ion-tab [root]="nuevaRoot" tabTitle="Nueva" tabIcon="add"></ion-tab>
    
    <ion-tab [root]="menuPrincipalRoot" tabTitle="Menu principal" tabIcon="menu" (ionSelect)="myMethod()"></ion-tab>
</ion-tabs>
