<!--
  Generated template for the ListadocategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ficha Caracterizacion Categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<ion-list>

  <button ion-item *ngFor="let item of misCategorias"  (click)="openNavDetailsPage(item)" icon-start>
   <ion-icon [name]=" item.icono"></ion-icon>
   {{item.titulo}}
  </button>
</ion-list>


</ion-content>
