<!--
  Generated template for the ListahuerterosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>lista de Huerteros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>

        <button ion-item *ngFor="let item of j"   icon-start>
         <ion-icon [name]="person"></ion-icon>
         {{item.nombres}}&nbsp;{{item.apellidos}} 
        </button>
      </ion-list>

</ion-content>
