<!--
  Generated template for the MenuaccesoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Menu Principal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>

  
  <button ion-item (click)="gestionarHuertas()">

    <ion-icon name="md-flower" item-start></ion-icon>
    Huertas
  </button>


  
  
  <button ion-item (click)="gestionarEntrevista()">
   <ion-icon name="ios-create" item-start></ion-icon>
  Entrevista
  </button>

  <button ion-item (click)="Salir()">
      <ion-icon name="exit" item-start ></ion-icon>
      Salir
  </button>

 


</ion-list>

</ion-content>
