<!--
  Generated template for the InfoentrevistaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>información Entrevista de la Huerta : {{entrevista.Huerta.NombreHuerta}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>

 
    <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
     <ion-label stacked>Fecha Entrevista:</ion-label>
     <ion-input type="text" [value]="entrevista.FechaEntrevista"></ion-input>
    
    </ion-item>
 

     
    <ion-item>
        <ion-icon name="person" item-left></ion-icon>  
         <ion-label stacked>Investigador:</ion-label>
        <ion-input type="text" [value]="entrevista.Investigador.Nombres+'&nbsp;'+entrevista.Investigador.Apellidos"> </ion-input>
      </ion-item>

     
         <button ion-item icon-start (click)="ListarEntrevidados(entrevista)">
            <ion-icon name="list" item-left></ion-icon>
            Listado Entrevistados
         </button>
            
         
      


        <ion-item>
            <ion-icon name="refresh" item-left></ion-icon>  
             <ion-label stacked>Versionr:</ion-label>
            <ion-input type="text" [value]="entrevista.Version"></ion-input>
          </ion-item>


      


      <ion-item>
          <ion-icon name="information" item-left></ion-icon>            
          <ion-label stacked>Observaciones:</ion-label>
          <ion-textarea [value]="entrevista.Observaciones">
          </ion-textarea>

      </ion-item>


      
      <button ion-item icon-start (click)="listarCategorias(entrevista)">
        <ion-icon name="list" item-left></ion-icon>
        Ficha de Caracterización
     </button>




</ion-list>



</ion-content>
